* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 25px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  background-color: #fff;
}

header img {
  display: block;

}

header a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
  font-size: 1rem;
}

header button {
  padding: 10px 20px;
  border: none;
  background-color: #0061FF;
  color: #fff;
}

main {
  padding-top: 60px;
}

button:hover {
  cursor: pointer;
}

.bg-lightblue button {
  margin: 40px 0;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  background-color: #0061FF;
  color: #ffffff;
}

.plan button {
  margin: 50px 0;
  padding: 10px 45px;
  border: none;
  font-size: 1em;
  background-color: #0061FF;
  color: #ffffff;
}

h1 {
  font-size: 5em;
  font-weight: 900;
}

h2 {
  font-size: 3em;
  margin-bottom: 70px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin-top: 50px;
}

ul li {
  margin-top: 25px;
}

ul li div {
  display: inline;
}


/*******Tools********/
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.big-container {
  width: 1500px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.r-gap {
  row-gap: 70px;
}

.gap-5 {
  gap: 5%;
}

.m-top-150 {
  margin-top: 150px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.bg-lightblue {
  background-color: #B4D0E6;
  max-height: 765px;
}

.h-1500 {
  height: 1500px;
}

.border {
  border: 1px solid #DEDDE0;
}

.bd-btt {
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 40px;
}

/***********Layout*************/
.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
  background-color: aquamarine;
}

.col-70 img {
  width: 100%;
}

/**********Commons***********/
.big-container .col-30 p {
  font-size: 1.5em;
}

.big-container .col-30 .fa-solid {
  margin-top: 50px;
  font-size: 4.3em;
}

.check {
  border-radius: 50%;
  border: 5px solid #0061FF;
  width: 20px;
  height: 20px;
}

.non-check {
  border-radius: 50%;
  border: 3px solid #DEDDE0;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.plan-head {
  padding: 10px;
  justify-content: center;
  border-bottom: 1px solid #DEDDE0;
}

.plan {
  padding: 40px;
}

.caption {
  color: #8BA1B6;
  margin-top: 15px;
  display: block;
}

.plan-end {
  margin-top: 80px;
}

.fa-check {
  color: #0061FF;
  font-size: 1.3em;
}