* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 25px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 60px;
  background-color: #fff;
}

header img {
  display: block;

}

header a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
  font-size: 1rem;
}

header button {
  padding: 10px 20px;
  border: none;
  background-color: #0061FF;
  color: #fff;
}

main {
  padding-top: 60px;
}

.bg-lightblue button {
  margin: 40px 0;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  background-color: #0061FF;
  color: #fff;
}

h1 {
  font-size: 5em;
  font-weight: 900;
}

/*******Tools********/
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.big-container {
  width: 1500px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 70px;
}

.bg-lightblue {
  background-color: #B4D0E6;
  max-height: 765px;
}

/***********Layout*************/
.col-30 {
  width: 400px;
}

.col-70 {
  width: 1000px;
}

.col-100 {
  width: 100%;
}

.col-70 img {
  width: 100%;
}

/**********Commons***********/
.col-30 p {
  font-size: 1.5em;
}

.col-30 .fa-solid {
  margin-top: 50px;
  font-size: 4.3em;
}